@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body {
    font-family: 'Karla', sans-serif;
}

/* start nav */

nav {
    background-color: #f8f9fa;
    min-height: fit-content;
}

ul.right a {
    color: #343A3F;
}

ul.right a.active {
    background-color: #048eff;
}

ul.botnav {
    display: none;
}

/* end nav */

/* home */

#home {
    min-height: 1000px;
    background-color: #F5F5F5;
}

.hero-image {
    min-height: 300px;
    background-image: url('../hero-image.jpg');
}

.card {
    margin: -70px auto;
    width: 50%;
}

#body-content .card-tabs li a {
    cursor: pointer;
    color: #343A3F;
}

#body-content .card-tabs a.active {
    background-color: #F5F5F5;
}

.card-content div {
    display: none;
}

.card-content div:first-child {
    display: block;
}

.valign-wrapper i {
    margin-right: 10px;
}

#home .popular {
    margin-top: 125px;
}

#home .menu {
    display: flex;
    justify-content: space-between;
}

#home .menu .item {
    background-color: #2b2b2b;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
    width: 48%;
    padding: 30px 20px;
}

#home .menu img {
    width: 70%;
}

#home .menu .item h5, p {
    color: #a5a5a5;
    text-align: justify;
}

/* end-home */
/* order */
#order .category li {
    margin: 30px auto;
    cursor: pointer;
}

#order .category li a {
    color: #343A3F;
}

#order {
    background-color: #e9e9e9;
    padding-top: 50px;
}

#order .m4 {
    margin-bottom: 150px;
}

div.item {
    background-color: #343A3F;
    border: 1px solid #343A3F;
    width: 100%;
}

div.item img{
    margin: 0px 12%;
    width: 75%;
}

div.desc {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .6);
    background-color: #f8f9fa;
    padding: 15px;
    cursor: pointer;
}
/* end-order */
/* cart */

/* end-cart */
#cart{
    padding-top: 20px;
    min-height: 100vh;
    background-color: #e9e9e9;
}
#cart .content{
    display: flex;
    justify-content: space-around;
}
#cart .content img{
    padding: 50px 10px;
    width: 40%;
}

#cart .detail{
    padding: 0 50px;
    width: 70%;
    background-color: #f8f9fa;
}

#cart .detail button:hover{
    background-color: #8e8e8e;
}
/* end cart */
#login .container{
    width: 50%;
    margin-top: 50px;
    padding: 30px 5%;
}

#login form button.custom-btn{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

#login form button.custom-btn img{
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    nav .container {
        display: flex;
        justify-content: center;
    }
    ul.right {
        display: none;
    }
    ul.botnav {
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        z-index: 999;
        width: 100%;
        background-color: #f8f9fa;
    }
    ul.botnav a.active {
        background-color: #048eff;
    }
    /* home */
    .card {
        width: 75%;
    }
    /* end-home */
}

@media screen and (max-width:576px) {
    /* home */
    .card {
        width: 100%;
    }
    #home .menu {
        flex-direction: column;
    }
    #home .menu .item {
        width: 100%;
    }
    /* end-home */
    div.item {
        width: 100%;
        height: 230px;
    }
    
    div.item img{
        margin: 0px 20%;
        width: auto;
        height: 100%;
    }
    /* end-order */
    #cart .content{
        flex-direction: column;
        /* justify-content: space-around; */
    }

    #cart .content img{
        width: 100%;
    }
    
    #cart .detail{
        width: 100%;
        padding-bottom: 50px;
    }
    #login .container{
        width: 80%;
        margin-top: 50px;
        padding: 30px 5%;
    }
}